###  python quizs

In [3]:
n=11
for i in range(n):
    n=n//2

In [4]:
n

0

In [7]:
n=11
for idx in range(n):
    n=n//2

In [8]:
n

0

In [16]:
#i=100
[i for i in range(0,100)if i%2==1]
#print(i)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [8]:
i

99

In [17]:
def paragraph_wrap(func):
def func_wrapper(name):
return "<p>{0}</p>".format(func(name))
return func_wrapper
@paragraph_wrap
def get_text(name):
return "lorem ipsum,{0} dolor sit amet".format(name)
print get_text("John")

IndentationError: expected an indented block (4002438651.py, line 2)

In [23]:
def para_wrap(func):
    def fun_wrap(name):
        return"<p>{0}</p>".format(func(name))
    return func_wrap
@para_wrap
def get_text(name):
    return "lorem ipsum,{0} dolor sit ametrmat(name)

SyntaxError: invalid syntax (1821755549.py, line 8)

In [84]:
def para_wrap(func):
    def fun_wrap(name):
        return"<p>{0}</p>".format(func(name))
    return func_wrap
@para_wrap
def get_text(name):
    return "lorem ipsum,{0} dolor sit amet".format(name)
print get_text("Sunil")

SyntaxError: invalid syntax (1339264316.py, line 8)

In [85]:
lst = [1, 2, 3, 4, 4, 6, 7, 3, 4, 5, 2, 7]

In [86]:
lst

[1, 2, 3, 4, 4, 6, 7, 3, 4, 5, 2, 7]

In [87]:
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
fuunc=lambda x: return x 
print(func(2))

###---------------EXPLANATION-------###


----[lambda function cant contain the return statement 
    in lambda function ,statement like returns,pass,
    assert,or raise will raise a SyntaxError exception]

SyntaxError: invalid syntax (958307310.py, line 1)

In [3]:
func = lambda x:x
print(func(2))

2

In [4]:
(lambda x:(x+3) * 5/2)(3)

15.0

In [5]:
my_list = ['Real','Python']

In [6]:
def func(x):
    return ''.join(x)

In [9]:
func('Real')

'Real'

In [18]:
my_list=list(map(lambda x : x,my_list))

print(my_list)

['Real', 'Python']

In [34]:
C=6
B=6
A=2
x=(A,B,C)
x=list(map((lambda x:''.join),x))
print(x)

[<built-in method join of str object at 0x0000021750384670>, <built-in method join of str object at 0x0000021750384670>, <built-in method join of str object at 0x0000021750384670>]

In [35]:
from functools import reduce
numbers = [1,2,3]
reduce(lambda x,y: x + y, numbers)

6

In [40]:
numbers=[1,2,3]
#list(filter(lambda x: x>1,numbers))
#list(filter(lambda x: 2,numbers))
list(filter(lambda x: x%2==0,numbers))

[2]

### Python program to calculate the sum of all numbers from 1 to a given number.

In [16]:
n=10
sum=0
for i in range(1,n):
    sum +=i
print(sum)

45

### Python program to calculate the sum of all the odd numbers within the given range.

In [13]:
n=10
sum=0
for i in range(n):
    if i%2!=0:
        sum+=i
print(sum)

25

###  Python program to print a multiplication table of a given number.

In [30]:
given_number=6
for i in range(11):
    print(given_number,"x",i,"=",5*i)
       
print("End Of Table")

6 x 0 = 0
6 x 1 = 5
6 x 2 = 10
6 x 3 = 15
6 x 4 = 20
6 x 5 = 25
6 x 6 = 30
6 x 7 = 35
6 x 8 = 40
6 x 9 = 45
6 x 10 = 50
End Of Table

### Python program to display numbers from a list using a for loop.

In [35]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

### Python program to count the total number of digits in a number.

In [8]:
number=12432424366575587
number=str(number)
count=0
for i in number:
    count+=1
print(count)

17